<div class="container">
  <div class="section">
    <% if @places.empty? %>
      <div class="row">
        <% if @user == current_user %>
          <div class="center">
            <b>行きたいスポットがまだありません。</b><br>
            <%= link_to places_path do %>
              <b>探してみる！</b>
            <% end %>
          </div>
        <% end %>
        <div class="center">
          <b>行きたいスポットがまだありません。</b>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div id='map'></div>
      </div>
      <div class="row">
        <% @places.order(created_at: "DESC").each do |place| %>
          <div class="col s12 m6">
            <%= render partial: 'places/index', locals: {place: place} %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<!-- スポットデータ受け渡し用 -->
<input name="spot_data" type="hidden" value=<%= @posts_data_json %> class="spot_data"/>

<style>
#map{
  height: 400px;
}
</style>

<!-- Googleマップを利用するためのスクリプト -->
<%= javascript_include_tag 'googlemap.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>

