  <div id="index-banner" class="parallax-container" style="height: 600px;">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center" style="padding-top: 100px;">
          <h3 class="header center"><b>「好きな場所」<br>をシェアしよう！</b></h3>
        </div>
        <div class="row center">
          <%= link_to "はじめる", new_user_registration_path, id: "download-button", class: "btn-large waves-effect waves-light teal lighten-1" %>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
      <%= image_tag "m_visual_1.jpg", alt: "Main Visual", style: "ovject-position: right;" %>
    </div>
  </div>


  <div class="container">
    <div class="section">
    <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4><b>PHOTOPOで広がる写真の楽しさ。</b></h4>
          <p class="left-align">フォトスポット情報共有アプリ「FOTOPO」は、より撮影を楽しむためのサービスです。お気に入りの撮影スポットや美しい景色が撮れた場所など誰かに紹介したいスポットを教えあって、お互いに情報交換ができるようになっています。ぜひ「FOTOPO」を使って写真撮影の楽しさを広げてください！</p>
        </div>
      </div>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-search"></i></h2>
            <h5 class="center">見つける</h5>

            <p class="light">他のユーザーがおすすめするたくさんのフォトスポットから行ってみたい場所を探してみましょう。地図や現地の写真から探すことができるので、きっと撮りたい風景やシーンが見つかるはず！</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-share-square"></i></h2>
            <h5 class="center">共有する</h5>

            <p class="light">どこかに出かけていい写真が撮れたらみんなとシェアしましょう。コメントで他におすすめの場所を教え合うのもいいですね！いつどこに行ったのかを記録する日記としての使い方をしてもOK。</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-user-friends"></i></h2>
            <h5 class="center">つながる</h5>

            <p class="light">行ってみたいと思ったスポットは、「行ってみたいスポット」にストックできます。他のユーザーに公開することができるので、声をかけて趣味の合う仲間とでかけてみましょう。</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "m_visual_2.jpg", alt: "Main Visual" %></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4><b>フォトスポットの探し方</b></h4>
          <p class="left-align">カメラを持ってどこへ出かけよう？そんなときは、「PHOTOPO」で撮影スポットを探してみましょう。「PHOTOPO」では、いろいろな方法で撮影スポットを探すことができます。身近にも意外な場所でお気に入りスポットが見つかるかも。</p>
        </div>
      </div>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-map-marker-alt"></i></h2>
            <h5 class="center">地図から</h5>

            <p class="light">投稿がある場所は地図上にピンで示されています。ピンからスポットページに飛べるので、特定の場所の周辺を探すのに役立ちます。</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-images"></i></h2>
            <h5 class="center">写真から</h5>

            <p class="light">投稿一覧や場所一覧で気になった写真や好きな写真からスポットを見つけてみても面白いですね。</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-heart"></i></h2>
            <h5 class="center">ユーザーから</h5>

            <p class="light">他のユーザーの「行ってみたいスポット」もチェックしてみましょう。趣味のあう人をフォローしておくとあなたにピッタリなスポットがみつかるかも？</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "m_visual_3.jpg", alt: "Main Visual" %></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4><b>PHOTOPOに登録しよう！</b></h4>
          <p class="left-align">メールアドレスとパスワードを入力して「PHOTOPO」のユーザー登録をすれば、すぐに使いはじめられます。フォトスポットを探して、投稿して、他のユーザーと交流してみましょう！</p>
        </div>
      </div>

      <div class="row center">
          <%= link_to "PHOTPOをはじめる", new_user_registration_path, id: "download-button", class: "btn-large waves-effect waves-light teal lighten-1" %>
        </div>

    </div>
  </div>

<script>
  (function($) {
    $(function() {

        $('.sidenav').sidenav();
        $('.parallax').parallax();

    }); // end of document ready
  })(jQuery); // end of jQuery name space
</script>