<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ログイン
      </h1>
      <h2 class="subtitle">
        Let's go and shere.
      </h2>
    </div>
  </div>
</section>


<div class="section">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column is-half">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "label" %>
            <div class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: "label" %>
            <div class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <%= f.check_box :remember_me, class: "checkbox" %>
                  <%= f.label :remember_me %>
                </label>
              </div>
            </div>
          <% end %>

          <div class="field is-grouped">
            <div class="control">
              <%= f.submit "Log in", class: "button is-link" %>
            </div>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
        
      </div>
    </div>
  </div>
</div>