<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="title">
        ログイン
      </h3>
    </div>

    <div class="col s12">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
        <div class="row">
          <div class="input-field col s12">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "" %>
            <%= f.label :email, class: "" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
            <%= f.label :password, class: "label" %>
          </div>
        </div>

        <div class="row">
          <% if devise_mapping.rememberable? %>
            <form action="#">
              <p>
                <label>
                  <%= f.check_box :remember_me %>
                  <span><%= f.label :remember_me %></span>
                </label>
              </p>
            </form> 
          <% end %>
        </div>

        <div class="row">
          <%= f.button type: "submit", class: "btn waves-effect waves-light" do %>
            ログイン
          <% end %>
        </div>
  
      <% end %>

      <%= render "users/shared/links" %>

    </div>
  </div>
</div>