<div class="container">
  <br>
  <%= form_with model: @user do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name %>
        <%= f.label :name, "ユーザ名", class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :introduction, class: "materialize-textarea"  %>
        <%= f.label :introduction, "自己紹介", class: "active" %>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :address %>
        <%= f.label :address, "すんでいるところ", class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <div class="file-field input-field">
          <div class="btn">
            <span>アイコン画像</span>
            <%= f.file_field :profile_image, multiple: true, class: "form-control-file" %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <div class="file-field input-field">
          <div class="btn">
            <span>背景画像</span>
            <%= f.file_field :back_image, multiple: true, class: "form-control-file" %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12"> 
        <%= f.button type: "submit", class: "btn waves-effect waves-light" do %>保存<% end %>
        <button class="btn">キャンセル</button>
      </div>
    </div>
  <% end %>
</div>