<div class="container">
  <br>
  <%= form_with model: @user do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name %>
        <%= f.label :name, "ユーザ名", class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :introduction, class: "materialize-textarea"  %>
        <%= f.label :introduction, "自己紹介", class: "active" %>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :address %>
        <%= f.label :address, "すんでいるところ", class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          <%= f.label :profile_image, "アイコン画像" %>
        </span>
        <span class="file-name">
          <%= f.file_field :profile_image %>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          <%= f.label :profile_image, "背景画像" %>
        </span>
        <span class="file-name">
          <%= f.file_field :back_image %>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12"> 
        <%= f.button type: "submit", class: "btn waves-effect waves-light" do %>保存<% end %>
        <button class="btn">キャンセル</button>
      </div>
    </div>
  <% end %>
</div>