<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @user.name %>
      </h1>
      <h2 class="subtitle">
        <%= "@#{@user.account_name}" %>
      </h2>
    </div>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column">
        <div class="card">
          <div class="card-image">
          </div>
          <div class="card-content">
            <div class="columns">

              <div class="column is-one-quarter">
                <% if @user == current_user %>
                  <%= link_to edit_user_path(@user) do %>編集
                    <span><i class="fas fa-user-edit"></i></span>
                  <% end %>
                <% end %>

                <div class="media", style="justify-content: center;">
                    <figure class="image is-128x128">
                      <% if @user.profile_image? %>
                          <%= image_tag @user.profile_image.url, class: "is-rounded", style: "width:100%; height: 128px; object-fit: cover;"%>
                        <% end %>
                    </figure>
             
                </div>
              </div>

              <div class="column">
                <div class="media-content">
                  <p class="title is-4"><%= @user.name %></p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              

                <div class="content">
                  <%= @user.introduction%>
                  <br>
                  <span><i class="fas fa-map-marker-alt"></i></span>
                  <%= @user.address %>
                </div>
              </div>
            </div>

            <div class="section">
              <div class="container">
                <nav class="level is-mobile">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">投稿数</p>
                      <p class="title"><%= @user.posts.count %></p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">いいね数</p>
                      <p class="title"><%= @like_count %></p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">フォロワー数</p>
                      <p class="title"><%= Relationship.where(following_id: @user.id).count %></p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading">フォロー数</p>
                      <p class="title"><%= Relationship.where(follower_id: @user.id).count %></p>
                    </div>
                  </div>
                  
                </nav>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%= render partial: 'posts/index', locals: {posts: @posts} %>


<br>
<br>
<%= link_to "すべての投稿をみる", posts_path%>
<br>
<%= link_to "スポット登録", new_place_path %>