

  <div id="index-banner" class="parallax-container" style="z-index: 10;">
    <div class="section no-pad-bot">
      <div class="container">
        <% if false %>
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>
        <% end %>
      </div>
    </div>
    <div class="parallax" style="z-index: 100;"><%= image_tag @user.posts.last.images[0].url %></div>
  </div>


  <div class="container">
    <div class="section">
      
      <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container center">
              <% if @user.profile_image? %>
                <%= image_tag @user.profile_image.url, class: "circle user-show-user-img", style: "width: 150px; height: 150px;" %>
              <% else %>
                <%= image_tag 'no_image.jpg' %>
              <% end %>
            </div>
          </div>
          <div class="col s12 m9">
            <h4><b><%= @user.name %></b></h4>
            <h6>@<%= @user.account_name %></h6>
            <p class="light"><%= @user.introduction %></p>
          </div>

          <div class="col s12">
            <table class="user-status-table">
              <tr>
                <th>
                  フォロワー
                </td>
                <th>
                  フォロー
                </th>
                <th>
                  投稿数
                </th>
                <th>
                  行っていたい場所
                </th>
              </tr>
              <tr>
                <td>
                   <div id="relationship-<%= @user.id %>">
                  <%= render 'relationships/follow', user: @user %>
                </div>
                </td>
                <td>
                  <%= Relationship.where(follower_id: @user.id).count %>
                </td>
                <td>
                  <%= @user.posts.count %>
                </td>
                <td>
                  <%= @user.went_to_gos.count %>
                </td>
              </tr>
            </table>
          </div>
        </div>

    </div>
  </div>






<%= render partial: 'posts/index', locals: {posts: @posts} %>


<br>
<br>
<%= link_to "すべての投稿をみる", posts_path%>
<br>
<%= link_to "スポット登録", new_place_path %>