<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        【なまえ】
      </h1>
      <h2 class="subtitle">
        【アカウント】
      </h2>
    </div>
  </div>
</section>

<div class="section">
<div class="container">
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Tweets</p>
      <p class="title">3,456</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Following</p>
      <p class="title">123</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Followers</p>
      <p class="title">456K</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Likes</p>
      <p class="title">789</p>
    </div>
  </div>
</nav>
</div>
</div>

<div class="section">
<div class="container">
<div class="columns is-desktop is-multiline">
<% @posts.each do |post| %>
  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <%= link_to post_path(post) do %>
            <% if post.images[0] %>
              <%= image_tag post.images[0].url, style: "object-fit: cover;" %>
            <% end %>
          <% end %>
        </figure>
      </div>
      <div class="card-content">
        <p class="title is-4"><%= post.title %></p>
        <div id="likes_buttons_<%= post.id %>">
          <%= render partial: 'likes/like', locals: {post: post} %>
        </div>

        <div class="content">
          <%= post.comment %><a>@bulmaio</a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <%= image_tag post.user.profile_image.url, class: "rounded-circle", style: "object-fit: cover;" %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= post.user.name %></p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
</div>

