
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title"><%= @post.title %></h1>
        <h2 class="subtitle"><%= @post.place.name %></h2>
      </div>
    </div>



    <div style="justify-content: center;">
      <figure class="image">
        <div class="main_image_box">
          <%= image_tag @post.images[0].url, class: "mainimage img01", style: "max-height: 600px; min-height: 400px; width: 100%; object-fit: contain;" %>
        </div>	
      </figure>
    </div>

    <br>

    <!-- ***** サムネイル ***** -->
    <div class="detail">
      <ul class="subimage img01">
        <% @post.images.each do |image| %>
        <li>
          <%= image_tag image.url, style: "object-fit: contain;" %>
        </li>
        <% end %>
      </ul>
    </div><!-- .detail end -->

    <br>

    <div class="content is-small">
      <div class="columns">
        <div class="column is-one-fifth">
          <h4>
            <span><i class="fas fa-calendar-alt"></i></span>
            訪問日
          </h4>
          <p datetime="2016-1-1"><%= @post.date %></p>
        </div>
         <div class="column is-one-fifth">
          <h4>
            <span><i class="fas fa-star"></i></span>
            お気に入り度
          </h4>
          <p><%= @post.rate %></p>
        </div>
        <div class="column is-one-fifth">
          <h4>
            <span><i class="fas fa-train"></i></span>
            アクセス方法
          </h4>
          <p><%= @post.access %></p>
        </div>
        <div class="column is-one-fifth">
          <h4>
            <span><i class="fas fa-exclamation-circle"></i></span>
            注意事項
          </h4>
          <p><%= @post.notify %></p>
        </div>
        <div class="column is-one-fifth">
          <h4>
            <span><i class="fas fa-link"></i></span>
            URL
          </h4>
          <%= link_to @post.url, @post.url %></p>
        </div>
      </div>
    </div>
    <div class="content is-small">
      <div class="columns is-mobile">
        <div class="column">
          <h4>
            <% if current_user.id == @post.user.id %>
              <span><i class="fas fa-camera"></i></span>
            <% end %>
            カメラ情報
          </h4>
          <p>【直接入力かExifデータ表示】</p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="columns">
        <div class="column">
          <h3>
            <span><i class="fas fa-file-alt"></i></span>
            コメント
          </h3>
          <p><%= @post.comment %></p>
        </div>
      </div>
    </div>


    <hr>

    <div id="comment">
      <%= render partial: 'comments/index', locals: {post: @post, comment: @comment} %>
    </div>

  </div>
</div>

<%= link_to "編集", edit_post_path(@post) %>



<script>
$(function(){
    $('.subimage li').hover(function(){
        //オーバーしたliのインデックスを取得
        var index = $('.subimage li').index(this);
        console.log(index);
        //オーバーした画像URLを取得
        var imageurl = $('.subimage li').eq(index).find('img').attr('src');
        console.log(imageurl);
        //ulのクラス名を取得（空白で分割）
        className = $(this).parent().attr('class').split(" ");
        //元のメイン画像を保存しておく
        defaultImage = $('img.mainimage.'+className[1]).attr('src');
        $('img.mainimage.'+className[1]).attr('src',imageurl);
    },function(){
        $('img.mainimage.'+className[1]).attr('src',defaultImage);
    });
});
</script>


<style>
.detail {
  display: flex;
  justify-content: center;
}

.detail ul{
    
    text-align: center;
    
  
}
.detail li{

  display: -moz-inline-box;
  display: inline-block;
  /display: inline;
  /zoom: 1;
  padding-right: 10px;
  width: 20%;

}


</style>
