<div class="section">
  <div class="container">
    <div id='map'></div>
    <br>
    <div class="columns is-desktop is-multiline">
      <% @places.order(created_at: "DESC").each do |place| %>
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
              <% if place.posts.present? %>
                <%= link_to place_path(place) do %>
                  <%= image_tag place.posts.first.images[0].url, style: "object-fit: cover;" %>
                <% end %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-4"><i class="fas fa-map-marker-alt"></i> <%= place.name %></p>

              <div class="content">
                <%= place.name %>
                <br>
                <b>投稿数</b><%= place.posts.count %>
                <% if place.posts.present? %>
                <p datetime="2016-1-1">最新の投稿<%= place.posts.last.created_at %></p>
                <% end %>
              </div>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    
                  </figure>
                </div>
                <div class="media-content">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- スポットデータ受け渡し用 -->
<input name="spot_data" type="hidden" value=<%= @posts_data_json %> class="spot_data"/>

<style>
#map{
  height: 400px;
}
</style>

<!-- Googleマップを利用するためのスクリプト -->
<%= javascript_include_tag 'googlemap.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>

