<div class="section">
  <div class="container">
    <div id='map'></div>
  </div>
  <br>
  <div class="container">
    <%= form_with model: @place do |f| %>

      <%= f.hidden_field :latitude, value: 1, id: "set-latitude" %>
      <%= f.hidden_field :longitude, value: 1, id: "set-longitude" %>


      <div class="field">
        <%= f.label :name, "名称", class: "label" %>
        <%= f.text_field :name, id: "address", class: "input", id: "address" %>
      </div>
      <div class="control">
        <input type="button" value="見つける" onclick="codeAddress()" class="button">
        
      </div>
      <%= f.submit "この場所を登録する", class: "button" %>
  <% end %>

  </div>
</div>

    




<style>
#map{
  height: 400px;
}
</style>

<!-- Googleマップを利用するためのスクリプト -->
<%= javascript_include_tag 'new_place.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>

