<h1>スポット詳細</h1>
<table>
  <tr>
    <th>スポット名</th>
    <td><%= @place.name %></td>
  </tr>
  <tr>
    <th>geocode</th>
    <td><%= @place.geocode %></td>
  </tr>
  <tr>
    <th>info</th>
    <td><%= @place.infomation %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @place.address %></td>
  </tr>
</table>

<div style="width: 300px;">
<%= image_tag @place.images[0].url, style: "width: 100%; height: 100%; object-fit: contain;" %>
</div>

<%= link_to "編集", edit_place_path(@place) %>