<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSpotInfoSharingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <!-- ログイン時のnavセレクトボックス -->
    <% if user_signed_in? %>
    <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to "投稿する", new_place_path %></li>
      <li class="divider"></li>
      <li><%= link_to "マイページ", user_path(current_user) %></li>
      <li><%= link_to "行きたいところ", user_went_to_gos_path(current_user) %></li>
      <li class="divider"></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    </ul>
    <% end %>
    <nav class="white">
      <div class="nav-wrapper">
        <%= link_to root_path, class: "brand-logo" do %>
          <%= image_tag "fotopo_logo.png", alt: "FOTOPO icon", id: "pic1", class: "brand-logo", style: "width: 250px; margin: 11px;" %>
        <% end %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      
        <%# ↓brand-logoクラスをつけないとuser/showなどの画像表示が崩れる %>
        <ul class="right hide-on-med-and-down brand-logo">
          <% if user_signed_in? %>
            <li>
              <%= link_to places_path do %>
                <i class="fas fa-map-marker-alt"></i>スポット
              <% end %>
            </li>
            <li>
              <%= link_to users_path, class: "navbar-item"  do %>
                <i class="fas fa-user-friends"></i>ユーザー
              <% end %>
            </li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt"></i></i>ログイン
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus"></i></i>新規登録
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- モバイルのnav -->
    <ul id="mobile-demo" class="sidenav">
      <% if user_signed_in? %>
        <li>
          <%= link_to places_path do %>
            <i class="fas fa-map-marker-alt"></i>スポットを探す
          <% end %>
        </li>
        <li>
          <%= link_to users_path, class: "navbar-item"  do %>
            <i class="fas fa-user-friends"></i>ユーザーを探す
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to user_path(current_user) do %>
            <div class="chip" style="">
              <%= image_tag current_user.profile_image.url, alt: "Contact Person", class: "circle", style: "width:32px; height: 32px; object-fit: cover;" %>
              <%= current_user.name %>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to new_place_path, class: "navbar-item" do %>
            <i class="fas fa-pencil-alt"></i>投稿する
          <% end %>
        </li>
        <li>
          <%= link_to user_went_to_gos_path(current_user) do %>
            <i class="fas fa-map"></i>行きたいスポット
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>
        </li>
      </ul>
      <% else %>
        <li>
          <%= link_to root_path do %>
          <i class="fas fa-question-circle"></i>fotopoとは？
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
          <i class="fas fa-user-plus"></i></i>新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i></i>ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </ul>
    <main>
    <%= yield %>
    </main>
  
    <footer class="page-footer teal lighten-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">fotopo</h5>
            <p class="grey-text text-lighten-4">「好きな場所」をシェアしよう！</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 YAC
        <a class="grey-text text-lighten-4 right" href="https://yac-photo.net/">YACのWebサイト</a>
        </div>
      </div>
    </footer>
  </body>
  
</html>

