<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="title">
        新規登録
      </h3>
    </div>

    <div class="col s12">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :name, autofocus: true, autocomplete: "nickname", class: "" %>
              <%= f.label :name, class: "" %>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :account_name, autofocus: true, autocomplete: "username", class: "" %>
              <%= f.label :account_name, class: "" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "" %>
              <%= f.label :email, class: "" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
              <%= f.label :password, class: "label" %>
            </div>
            <% if @minimum_password_length %>
              <p class="help">(<%= @minimum_password_length %> characters minimum)</p>
            <% end %>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "" %>
              <%= f.label :password_confirmation, class: "" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.button type: "submit" "Sign up", class: "btn waves-effect waves-light" do %>
                新規登録
              <% end %>
            </div>
          </div>

        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
