<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="title">
        新規登録
      </h3>
    </div>

    <div class="col s12">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :name, autofocus: true, autocomplete: "nickname", class: "validate" %>
              <%= f.label :name, "アカウント名", class: "active" %>
              <span class="helper-text" data-error="wrong" data-success="right">
                15字以内
              </span>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :account_name, autocomplete: "username", class: "validate" %>
              <%= f.label :account_name, "ユーザー名", class: "active" %>
              <span class="helper-text" data-error="wrong" data-success="right">
                半角英数15字以内（後から変更できません）
              </span>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.email_field :email, autocomplete: "email", class: "validate" %>
              <%= f.label :email, "メールアドレス", class: "active" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password, autocomplete: "new-password", class: "validate" %>
              <%= f.label :password, "パスワード", class: "active" %>
              <% if @minimum_password_length %>
              <span class="helper-text" data-error="wrong" data-success="right">
                <%= @minimum_password_length %> 字以上
              </span>
            <% end %>
            </div>
            
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "validate" %>
              <%= f.label :password_confirmation, "パスワード確認", class: "active" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.button type: "submit" "Sign up", class: "btn waves-effect waves-light" do %>
                新規登録
              <% end %>
            </div>
          </div>

        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
